
.bubbleBox{
  border: 1px solid;
  height: 500px;
  margin-top: 4rem;
  overflow: hidden;
  position: relative;
  width: 900px;

}

.bubble {
  margin: 5px;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  animation: randomlyMove 30s linear 0s infinite;
}
@keyframes randomlyMove {
  from{
    transform:translate(0px ,500px);
  }
  to{
    transform:translate(0px ,-2000px);
  }

}